

body {
    background-color: black;
    font-family: Helvetica;
    color: white;
}

#container {
    --coding-color: rgb(87, 178, 255);
    --season-stop-color: rgb(0,0,0);
    --stop-outline-color: rgb(255,255,255);
    --project-stop-color: white;

}

.subway-icon {
    display:flex;
    justify-content: center;
    align-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 80px;
}

.color-A {
    background-color: var(--coding-color);
}

.subway-icon div {
    /*width:auto;*/
    /*height:auto;*/
    /*margin: auto;*/
    flex-shrink: 1;
}

.track-name {
    display: flex;
    align-content: center;
    height:100px;
    width:800px;
    margin-left:50px;
}
.track-label {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left:30px;
    font-size:50px;
    height: 100%;
    font-weight: bold;
}

.track-label {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left:30px;
    font-size:50px;
    height: 100%;
}

.track-label-description {
    font-size:45%;
    font-weight: normal;

}

.track-label div {
    width:auto;
    height:auto;
    margin: auto;
}

.track {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-content: flex-start;*/
    height:60px;
    width: 100%;
    margin-top:200px;
    margin-left: 50px;
}
.track-line {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-content: center;*/
    height:15px;
    border-radius: 10px;
    width: 90%;
    position: relative;
}

.season-start {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--season-stop-color);
    border-color: var(--stop-outline-color);
    border-style: solid;
    border-width: 2px;
    display: block;
    position: absolute;
    top:-10px;
    box-shadow: -8px 0px black;

}

.project-start {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--project-stop-color);
    border-color: var(--season-stop-color);
    border-style: solid;
    border-width: 2px;
    display: block;
    position: absolute;
    top:-7px;
}

.project-name {
    transform: rotate(-45deg);
    font-size: 18px;
    white-space: nowrap;
    text-align: left;
    transform-origin: bottom;
    margin-top:-23px;
    margin-left:25px;
    font-weight: 500;
}

.project-sub-text {
    transform: rotate(-45deg);
    font-size: 14px;
    white-space: nowrap;
    text-align: left;
    transform-origin: bottom;
    margin-top:-15px;
    margin-left:50px;
    font-weight: 100;
}
